@font-face {
  font-family: "irs";
  font-size: 14px;
  src: url("../font/iransans/woff2/IranSans.woff2") format("woff2"),
    url("../font/iransans/woff/IranSans.woff") format("woff");
}
.main-image {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
}
* {
  font-family: irs;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw !important;
  overflow-x: hidden;
}
.checked {
  color: rgb(255, 215, 0);
}
.not-checked {
  color: rgb(114, 114, 114);
}
.card-header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.img-width {
  width: 250px !important;
  max-height: 208px !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.img-width2 {
  width: 200px !important;
  max-height: 208px !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-about-us{
  text-align: justify;

}
.card-footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.heart-background {
  padding: 9px;
  direction: ltr;
  height: 35px;
  vertical-align: middle;
  border-radius: 15px;
  background-color: rgba(71, 4, 85, 0.973);
  color: rgb(255, 255, 255);
}
.shop-background {
  padding: 9px;
  height: 35px;
  direction: ltr;
  vertical-align: middle;
  border-radius: 15px;
  background-color: rgba(71, 4, 85, 0.973);
  color: rgb(255, 255, 255);
}
footer {
  background-color: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
}
.footer-custom-style{
  padding-right: 50px !important;
  padding-left: 50px !important;
}
.footer-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card {
  box-shadow: 4px 2px 5px rgb(167, 167, 167);
}

.favorite {
  display: none;
}
.heart-background:hover::after {
  content: 'علاقه';
  font-family: irs;
  padding-left: 5px;
  font-size: 80%;
}

.shop-background:hover::after {
  content: 'خرید';
  font-family: irs;
  padding-left: 5px;
  font-size: 80%;
}
.card-title {
  font-size: 13px !important;
}
.mobile-header{
  display: inline;
  padding-right: 15px;
  border-bottom: 2px solid red;
  padding-bottom: 3px;
  margin-bottom: 25px !important;
}